<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/a5baee61-dcf4-450c-9ee0-fff5dd6e702c/resourceGroups/Api/providers/Microsoft.Web/sites/obqadb2cdemoapi</ResourceId>
    <ResourceGroup>Api</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <SiteUrlToLaunchAfterPublish>http://obqadb2cdemoapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>obqadb2cdemoapi.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>obqadb2cdemoapi</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$obqadb2cdemoapi</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>